body{
    @import 'index/index.scss';
    color: blue;
    p{
        font-size: 2em;
        color: purple;
    }
    @media(max-width: 959px){
        color: red;
    }
    @media(max-width: 959px){
        font-size: 2em;
    }
}